<html lang="en">

   <%- include header %>
   <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h2>Dashboard</h2>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
        <p>
          <a class="btn btn-lg btn-primary" href="/home/profile" role="button">Profile view »</a>
        </p>
      </div>
    <%- include footer %>