<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Education Board</title>
  <link rel="stylesheet" href="/assets/style.css">
  
</head>
<body>
  <div class="sidebar">
   <a class="active" href="/home/profile">Home</a>
   <a class="normal" href="/home/dashboard">Dashboard</a>
   <a class="danger" href="/home/logout">Logout</a>
 </div>
 <div class="content">




      