/* global */

html{
    background: url("books.png");
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    opacity: 0.6;
}



a{
    font-size:50px;
    color:black;
    margin-left:30px;
    
}

h1{
        color: black;
        font-size: 60px;
        margin-top:10px;
        width:500px;;
}

.start {
box-shadow: 3px 4px 0px 0px #1564ad;
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
background-color:#79bbff;
border-radius:5px;
border:1px solid #337bc4;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
font-weight:bold;
padding:12px 44px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
position:relative;
top:200px;
left:40%;

}

.start:hover {
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
background-color:#378de5;
}


.container{
    margin: 5% 0 5% 0;

}
form{
    padding-bottom:30px;
    margin-left:40px;
    
}

#login-text {
    color: black;
    padding: 30px 0 30px 0;
    text-align: center;
    margin:20px;
    width:400px;
}

.aaa {
    display: inline;
}
#aaa-2 {
    margin-left: 50%;
    float:right;
    font-weight:bold;
    font-size:20px;
    
}
a:hover{
    text-decoration:none;
}


/* main page || index.html */
    


a{
    font-size:50px;
    color:black;
    margin-left:30px;
    
}

h1{
        color: black;
        font-size: 60px;
        margin-top:10px;
        width:500px;;
}

.start {
box-shadow: 3px 4px 0px 0px #1564ad;
background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
background-color:#79bbff;
border-radius:5px;
border:1px solid #337bc4;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:Arial;
font-size:17px;
font-weight:bold;
padding:12px 44px;
text-decoration:none;
text-shadow:0px 1px 0px #528ecc;
position:relative;
top:200px;
left:40%;

}

.start:hover {
background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
background-color:#378de5;
}




