html body{
    background: url("../books.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed;
    }

.jumbotron {
    margin-top: 2%;
}

h1{
    font-size: 16px;
    font-weight: 600;
    display:inline-block;
}

.signout-btn {
  background-color: #ed5656;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  width: 95%;
  -webkit-border-radius: 50px;
}

.nav-content {
  display: inline;
}
.row{
  margin-left: 5%;
}
#content-1 {
    background-color: lightslategrey;
}

#content-2 {
  background-color: rgb(182, 161, 161);
  border-left: white 2px;
}

#content-left {
    margin-top: 10%;
    margin-right:2px;
}

#content-right {
  margin-top: 5%;
}
li {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 10px 10px;
  text-decoration: none;
  display: inline-block;
  margin: 5px;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 0 20px 20px 20px;
}

  input[type=text]{
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 10px 10px 10px 10px;
  }

input[type=text]:placeholder {
    color: #cccccc;
  }

input[type=submit]{
    background-color: #5b89ce;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 10px 10px 10px 10px;

  }
  input[type=button]:hover  {
    background-color: #39ace7;
  }

  input[type=text]:focus {
    background-color: #fff;
    border-bottom: 2px solid #5fbae9;
  }

#classCreate {
    background-color: #565b5e;
    border: none;
    color: white;
    padding: 15px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;;
    width: 95%;
    border: 2px solid #f6f6f6;
    -webkit-border-radius: 10px 10px 10px 10px;
  }

#updateClassStudent {
  background-color: #565b5e;
  border: none;
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;;
  width: 95%;
  border: 2px solid #f6f6f6;
  -webkit-border-radius: 10px 10px 10px 10px;
}

col-sm-6 {
  float: left;
}
#rightInfo {
  float: right;
}
